body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.employeeForm{
      padding: 20px;
      text-align: left;
      border: 2px solid #e5e3e3;
      box-shadow: 3px 3px 3px rgna(1,1,1,1);
      box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;
      margin-top: 20px;
}
.App{
  text-align: center;
    display: flex;
    justify-content: center;
    max-width: 1200px;
}
.employee-index{
  width: 80%;
}